body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fffffe;
}

.service__card {
  background-color: rgba(193, 214, 247, 0.5);
}

.hero-page {
  background-image: url(/src/Images/cat_small.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
